Source: cw1-6005-fh5g11
Section: net
Priority: extra
Maintainer: Fatma Habib <fh5g11@ecs.soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/frhabib/cw1-6005-fh5g11


Package: cw1-6005-fh5g11
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}, php-cli
Description: Simple PHP RSS reader
 This applications displays an RSS feed after reeding it from a config file
